In [43]:
import requests
import os
import pandas as pd

In [44]:
url = 'https://api.twitter.com/1.1/trends/available.json'
bearer = os.environ['BEARER_TOKEN']
response = requests.get(url=url, headers = {'authorization': 'Bearer ' + bearer})
worldwide_trending = response.json()

In [45]:
city_coordinates = pd.read_csv('worldcities.csv')
trending_woeid = [[trend['name'], trend['country'], trend['woeid']] for trend in worldwide_trending]
trending_woeid = pd.DataFrame(trending_woeid, columns = ['city', 'country', 'woeid'])

In [46]:
city_coordinates = city_coordinates[['city', 'lat', 'lng', 'country']]
trending_cities = trending_woeid.merge(b, on=['country','city'])

In [47]:
trending_cities

           city        country     woeid      lat       lng
0      Winnipeg         Canada      2972  49.8830  -97.1660
1        Ottawa         Canada      3369  45.4167  -75.7000
2       Toronto         Canada      4118  43.7000  -79.4200
3      Edmonton         Canada      8676  53.5500 -113.5000
4       Calgary         Canada      8775  51.0830 -114.0800
..          ...            ...       ...      ...       ...
382  Washington  United States   2514815  40.1739  -80.2465
383  Washington  United States   2514815  38.6592  -87.1721
384  Washington  United States   2514815  41.2982  -91.6928
385       Delhi          India  20070458  28.6700   77.2300
386     Okayama          Japan  90036018  34.6720  133.9171

[387 rows x 5 columns]