In [1]:
import requests
import os
import pandas as pd

In [2]:
url = 'https://api.twitter.com/1.1/trends/available.json'
bearer = os.environ['BEARER_TOKEN']
response = requests.get(url=url, headers = {'authorization': 'Bearer ' + bearer})

In [3]:
worldwide_trending = response.json()

In [4]:
type(worldwide_trending)
len(worldwide_trending)

467

In [5]:
city_cordinates = pd.read_csv('worldcities.csv')

In [6]:
trending_woeid = [[trend['name'], trend['country'], trend['woeid']] for trend in worldwide_trending]

In [7]:
trending_woeid = pd.DataFrame(trending_woeid, columns = ['city', 'country', 'woeid'])

In [8]:
compare = trending_woeid[trending_woeid['city'].isin(city_cordinates['city'])]

In [9]:
with pd.option_context('display.max_rows', None):
    print(city_cordinates)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [10]:
#trending_cities = []

#for i in range(len(trending_woeid)-1):
#    for j in range(len(city_cordinates)-1):
#        if trending_woeid.iloc[i]['city'] == city_cordinates.iloc[j]['city']:
#            trending_cities.append([trending_woeid.iloc[i]['city'], trending_woeid.iloc[i]['woeid'], city_cordinates.iloc[j]['lat'], city_cordinates.iloc[j]['lng']])

In [11]:
b = city_cordinates[['city', 'lat', 'lng']]
c = trending_woeid.merge(b, on = 'city')
c

         city country     woeid      lat       lng
0    Winnipeg  Canada      2972  49.8830  -97.1660
1      Ottawa  Canada      3369  45.4167  -75.7000
2      Ottawa  Canada      3369  41.3532  -88.8307
3      Ottawa  Canada      3369  38.6000  -95.2642
4      Ottawa  Canada      3369  41.0203  -84.0354
..        ...     ...       ...      ...       ...
554      Peru    Peru  23424919  40.7585  -86.0714
555      Peru    Peru  23424919  44.5820  -73.5560
556    Poland  Poland  23424923  44.0463  -70.3900
557    Sweden  Sweden  23424954  43.1791  -77.9406
558   Okayama   Japan  90036018  34.6720  133.9171

[559 rows x 5 columns]

In [12]:
with pd.option_context('display.max_rows', None):
    print(c)

                 city               country     woeid      lat       lng
0            Winnipeg                Canada      2972  49.8830  -97.1660
1              Ottawa                Canada      3369  45.4167  -75.7000
2              Ottawa                Canada      3369  41.3532  -88.8307
3              Ottawa                Canada      3369  38.6000  -95.2642
4              Ottawa                Canada      3369  41.0203  -84.0354
5             Toronto                Canada      4118  43.7000  -79.4200
6            Edmonton                Canada      8676  53.5500 -113.5000
7             Calgary                Canada      8775  51.0830 -114.0800
8           Vancouver                Canada      9807  49.2734 -123.1216
9           Vancouver                Canada      9807  45.6367 -122.5970
10         Birmingham        United Kingdom     12723  52.4750   -1.9200
11         Birmingham        United Kingdom     12723  33.5277  -86.7987
12         Birmingham        United Kingdom     12723  42.5447  -83.2166
13         Birmingham         United States   2364559  52.4750   -1.9200
14         Birmingham         United States   2364559  33.5277  -86.7987
15         Birmingham         United States   2364559  42.5447  -83.2166
16          Blackpool        United Kingdom     12903  53.8304   -3.0500
17        Bournemouth        United Kingdom     13383  50.7300   -1.9000
18           Brighton        United Kingdom     13911  50.8303   -0.1700
19           Brighton        United Kingdom     13911  39.9716 -104.7964
20           Brighton        United Kingdom     13911  43.1175  -77.5835
21           Brighton        United Kingdom     13911  42.5298  -83.7847
22            Bristol        United Kingdom     13963  51.4500   -2.5833
23            Bristol        United Kingdom     13963  40.1028  -74.8530
24            Bristol        United Kingdom     13963  36.5572  -82.2154
25            Bristol        United Kingdom     13963  41.6812  -72.9407
26            Bristol        United Kingdom     13963  41.6827  -71.2694
27            Bristol        United Kingdom     13963  36.6179  -82.1607
28            Bristol        United Kingdom     13963  42.5378  -88.0149
29           Coventry        United Kingdom     17044  52.4204   -1.5000
30           Coventry        United Kingdom     17044  41.6933  -71.6611
31           Coventry        United Kingdom     17044  41.7828  -72.3394
32              Derby        United Kingdom     18114  39.8401 -104.9171
33              Derby        United Kingdom     18114  52.9333   -1.5000
34              Derby        United Kingdom     18114  37.5571  -97.2552
35              Derby        United Kingdom     18114  41.3265  -73.0833
36          Edinburgh        United Kingdom     19344  55.9483   -3.2191
37            Glasgow        United Kingdom     21125  55.8744   -4.2507
38            Glasgow        United Kingdom     21125  39.6015  -75.7474
39            Glasgow        United Kingdom     21125  37.0047  -85.9263
40               Hull        United Kingdom     25211  42.2861  -70.8835
41              Leeds        United Kingdom     26042  53.8300   -1.5800
42              Leeds        United Kingdom     26042  33.5429  -86.5636
43          Leicester        United Kingdom     26062  52.6300   -1.1332
44          Leicester        United Kingdom     26062  42.2400  -71.9120
45          Liverpool        United Kingdom     26734  53.4160   -2.9180
46          Liverpool        United Kingdom     26734  44.0400  -64.7200
47         Manchester        United Kingdom     28218  53.5004   -2.2480
48         Manchester        United Kingdom     28218  42.9848  -71.4447
49         Manchester        United Kingdom     28218  41.7753  -72.5242
50         Manchester        United Kingdom     28218  39.9651  -74.3738
51         Manchester        United Kingdom     28218  38.5830  -90.5065
52         Manchester        United Kingdom     28218  35.4630  -86.0774
53         Manchester        United Kingdom     28218  37.4902  -77.5396
54         Manchester        United Kingdom     28218  47.5519 -122.5517
55         Manchester        United Kingdom     28218  39.6584  -76.8881
56         Manchester        United Kingdom     28218  37.1464  -83.7635
57      Middlesbrough        United Kingdom     28869  54.5804   -1.2300
58          Newcastle        United Kingdom     30079 -32.8453  151.8150
59          Newcastle        United Kingdom     30079  47.5303 -122.1633
60          Newcastle        United Kingdom     30079  35.2404  -97.5998
61         Nottingham        United Kingdom     30720  52.9703   -1.1700
62           Plymouth        United Kingdom     32185  50.3854   -4.1600
63           Plymouth        United Kingdom     32185  41.2404  -75.9505
64           Plymouth        United Kingdom     32185  45.0224  -93.4615
65           Plymouth        United Kingdom     32185  41.8783  -70.6309
66           Plymouth        United Kingdom     32185  41.3482  -86.3187
67           Plymouth        United Kingdom     32185  41.6642  -73.0263
68           Plymouth        United Kingdom     32185  42.3719  -83.4680
69           Plymouth        United Kingdom     32185  43.7451  -87.9656
70           Plymouth        United Kingdom     32185  43.7437  -71.7224
71         Portsmouth        United Kingdom     32452  50.8003   -1.0800
72         Portsmouth        United Kingdom     32452  36.8468  -76.3540
73         Portsmouth        United Kingdom     32452  43.0580  -70.7826
74         Portsmouth        United Kingdom     32452  38.7539  -82.9446
75         Portsmouth        United Kingdom     32452  41.5922  -71.2744
76            Preston        United Kingdom     32566  53.7667   -2.7167
77          Sheffield        United Kingdom     34503  53.3667   -1.5000
78          Sheffield        United Kingdom     34503  34.7559  -87.7007
79     Stoke-on-Trent        United Kingdom     36240  53.0004   -2.1800
80            Swansea        United Kingdom     36758  41.7571  -71.2120
81            Swansea        United Kingdom     36758  38.5507  -89.9859
82             London        United Kingdom     44418  51.5000   -0.1167
83             London        United Kingdom     44418  42.9700  -81.2500
84             London        United Kingdom     44418  37.1209  -84.0804
85             London        United Kingdom     44418  39.8936  -83.4375
86            Belfast        United Kingdom     44544  54.6000   -5.9600
87            Belfast        United Kingdom     44544  54.5968   -5.9254
88      Santo Domingo    Dominican Republic     76456  18.4701  -69.9001
89     Guatemala City             Guatemala     83123  14.6211  -90.5270
90     Aguascalientes                Mexico    111579  21.8795 -102.2904
91          Chihuahua                Mexico    115958  28.6450 -106.0850
92        Mexico City                Mexico    116545  19.4424  -99.1310
93           CuliacÃ¡n                Mexico    117994  24.8300 -107.3800
94        Guadalajara                Mexico    124162  20.6700 -103.3300
95        Guadalajara                Mexico    124162  40.6337   -3.1666
96         Hermosillo                Mexico    124785  29.0989 -110.9541
97               LeÃ³n                Mexico    131068  12.4356  -86.8794
98               LeÃ³n                Mexico    131068  42.5800   -5.5700
99             MÃ©rida                Mexico    133327  20.9666  -89.6166
100            MÃ©rida                Mexico    133327   8.4000  -71.1300
101            MÃ©rida                Mexico    133327  38.9120   -6.3380
102          Mexicali                Mexico    133475  32.6500 -115.4800
103         Monterrey                Mexico    134047  25.6700 -100.3300
104           Morelia                Mexico    134091  19.7334 -101.1895
105            Puebla                Mexico    137612  19.0500  -98.2000
106         QuerÃ©taro                Mexico    138045  20.6300 -100.3800
107          Saltillo                Mexico    141272  25.4200 -101.0050
108   San Luis PotosÃ­                Mexico    144265  22.1700 -101.0000
109           Tijuana                Mexico    149361  32.5000 -117.0800
110            Toluca                Mexico    149769  19.3304  -99.6700
111           Mendoza             Argentina    332471 -32.8833  -68.8166
112          Santiago                 Chile    349859 -33.4500  -70.6670
113          Santiago                 Chile    349859  19.5000  -70.6700
114          Santiago                 Chile    349859   8.1004  -80.9833
115          Santiago                 Chile    349859  16.6881  121.5472
116          Santiago                 Chile    349859 -14.1896  -75.7400
117        Valparaiso                 Chile    349861  41.4782  -87.0507
118            BogotÃ¡              Colombia    368148   4.5964  -74.0833
119              Cali              Colombia    368149   3.4000  -76.5000
120          MedellÃ­n              Colombia    368150   6.2750  -75.5750
121      Barranquilla              Colombia    368151  10.9600  -74.8000
122             Quito               Ecuador    375732  -0.2150  -78.5001
123         Guayaquil               Ecuador    375733  -2.2200  -79.9200
124           Caracas             Venezuela    395269  10.5010  -66.9170
125         Maracaibo             Venezuela    395270  10.7300  -71.6600
126           Maracay             Venezuela    395271  10.2469  -67.5958
127          Valencia             Venezuela    395272  10.2300  -67.9800
128          Valencia             Venezuela    395272  39.4850   -0.4000
129          Valencia                 Spain    776688  10.2300  -67.9800
130          Valencia                 Spain    776688  39.4850   -0.4000
131         Barcelona             Venezuela    395273  41.3833    2.1834
132         Barcelona             Venezuela    395273  10.1304  -64.7200
133         Barcelona                 Spain    753692  41.3833    2.1834
134         Barcelona                 Spain    753692  10.1304  -64.7200
135    Ciudad Guayana             Venezuela    395275   8.3700  -62.6200
136              Lima                  Peru    418440 -12.0480  -77.0501
137              Lima                  Peru    418440  40.7410  -84.1121
138          BrasÃ­lia                Brazil    455819 -15.7833  -47.9161
139             BelÃ©m                Brazil    455820  -1.4500  -48.4800
140    Belo Horizonte                Brazil    455821 -19.9150  -43.9150
141          Curitiba                Brazil    455822 -25.4200  -49.3200
142      Porto Alegre                Brazil    455823 -30.0500  -51.2000
143            Recife                Brazil    455824  -8.0756  -34.9156
144    Rio de Janeiro                Brazil    455825 -22.9250  -43.2250
145         SÃ£o Paulo                Brazil    455827 -23.5587  -46.6250
146          Campinas                Brazil    455828 -22.9000  -47.1000
147         Fortaleza                Brazil    455830  -3.7500  -38.5800
148           GoiÃ¢nia                Brazil    455831 -16.7200  -49.3000
149            Manaus                Brazil    455833  -3.1000  -60.0000
150          SÃ£o LuÃ­s                Brazil    455834  -2.5160  -44.2660
151           CÃ³rdoba             Argentina    466861 -31.4000  -64.1823
152           CÃ³rdoba             Argentina    466861  37.8800   -4.7700
153           CÃ³rdoba             Argentina    466861  18.9204  -96.9200
154           Rosario             Argentina    466862 -32.9511  -60.6663
155      Barquisimeto             Venezuela    468382  10.0500  -69.3000
156           MaturÃ­n             Venezuela    468384   9.7500  -63.1700
157      Buenos Aires             Argentina    468739 -34.6025  -58.3975
158            GdaÅ„sk                Poland    493417  54.3600   18.6400
159            KrakÃ³w                Poland    502075  50.0600   19.9600
160            PoznaÅ„                Poland    514048  52.4058   16.8999
161            Warsaw                Poland    523920  52.2500   21.0000
162            Warsaw                Poland    523920  41.2443  -85.8478
163            Vienna               Austria    551801  48.2000   16.3666
164            Vienna               Austria    551801  38.8996  -77.2597
165            Vienna               Austria    551801  39.3238  -81.5383
166            Vienna               Austria    551801  43.2344  -75.7777
167              Cork               Ireland    560472  51.8986   -8.4958
168            Dublin               Ireland    560743  53.3331   -6.2489
169            Dublin               Ireland    560743  37.7161 -121.8964
170            Dublin               Ireland    560743  40.1112  -83.1453
171            Dublin               Ireland    560743  32.5359  -82.9279
172            Galway               Ireland    560912  53.2724   -9.0488
173          Bordeaux                France    580778  44.8500   -0.5950
174             Lille                France    608105  50.6500    3.0800
175              Lyon                France    609125  45.7700    4.8300
176         Marseille                France    610264  43.2900    5.3750
177       Montpellier                France    612977  43.6104    3.8700
178            Nantes                France    613858  47.2104   -1.5900
179             Paris                France    615702  48.8667    2.3333
180             Paris                France    615702  33.6689  -95.5462
181             Paris                France    615702  38.2016  -84.2719
182             Paris                France    615702  36.2933  -88.3065
183             Paris                France    615702  39.6148  -87.6905
184             Paris                France    615702  44.2445  -70.4883
185            Rennes                France    619163  48.1000   -1.6700
186        Strasbourg                France    627791  48.5800    7.7500
187          Toulouse                France    628886  43.6200    1.4499
188            Berlin               Germany    638242  52.5218   13.4015
189            Berlin               Germany    638242  41.6114  -72.7758
190            Berlin               Germany    638242  44.4869  -71.2599
191            Berlin               Germany    638242  39.7915  -74.9375
192            Bremen               Germany    641142  53.0800    8.8000
193            Bremen               Germany    641142  33.7086  -85.1498
194          Dortmund               Germany    645458  51.5300    7.4500
195           Dresden               Germany    645686  51.0500   13.7500
196             Essen               Germany    648820  51.4500    7.0166
197         Frankfurt               Germany    650272  50.1000    8.6750
198           Hamburg               Germany    656958  53.5500   10.0000
199           Hamburg               Germany    656958  42.7233  -78.8348
200           Cologne               Germany    667931  50.9300    6.9500
201           Leipzig               Germany    671072  51.3354   12.4100
202            Munich               Germany    676757  48.1299   11.5750
203         Stuttgart               Germany    698064  48.7800    9.2000
204         Stuttgart               Germany    698064  34.4963  -91.5486
205           Bologna                 Italy    711080  44.5004   11.3400
206             Genoa                 Italy    716085  44.4100    8.9300
207             Genoa                 Italy    716085  42.0929  -88.6966
208             Milan                 Italy    718345  45.4700    9.2050
209             Milan                 Italy    718345  42.0815  -83.6854
210             Milan                 Italy    718345  35.9126  -88.7554
211             Milan                 Italy    718345  41.4416  -90.5595
212            Naples                 Italy    719258  40.8400   14.2450
213            Naples                 Italy    719258  26.1505  -81.7936
214           Palermo                 Italy    719846  38.1250   13.3500
215           Palermo                 Italy    719846  39.4313 -121.5226
216              Rome                 Italy    721943  41.8960   12.4833
217              Rome                 Italy    721943  34.2662  -85.1862
218              Rome                 Italy    721943  43.2260  -75.4910
219             Turin                 Italy    725003  45.0704    7.6700
220         Amsterdam           Netherlands    727232  52.3500    4.9166
221         Amsterdam           Netherlands    727232  42.9420  -74.1907
222         Rotterdam           Netherlands    733075  51.9200    4.4800
223         Rotterdam           Netherlands    733075  42.8133  -74.0129
224           Utrecht           Netherlands    734047  52.1003    5.1200
225            Bilbao                 Spain    754542  43.2500   -2.9300
226            Madrid                 Spain    766273  40.4000   -3.6834
227            Murcia                 Spain    768026  37.9800   -1.1300
228             Palma                 Spain    769293  39.5743    2.6542
229           Seville                 Spain    774508  41.0208  -81.8671
230          Zaragoza                 Spain    779063  41.6500   -0.8900
231            Geneva           Switzerland    782538  46.2100    6.1400
232            Geneva           Switzerland    782538  42.8644  -76.9827
233            Geneva           Switzerland    782538  41.8833  -88.3242
234            Geneva           Switzerland    782538  41.8006  -80.9462
235          Lausanne           Switzerland    783058  46.5304    6.6500
236             Brest               Belarus    824382  52.1000   23.7000
237             Brest               Belarus    824382  48.3904   -4.4950
238             Minsk               Belarus    834463  53.9000   27.5666
239              Riga                Latvia    854823  56.9500   24.1000
240              Riga                Latvia    854823  43.0802  -77.8753
241            Bergen                Norway    857105  60.3910    5.3245
242              Oslo                Norway    862592  59.9167   10.7500
243         Stockholm                Sweden    906057  59.3508   18.0973
244           Kharkiv               Ukraine    922137  50.0000   36.2500
245              Kyiv               Ukraine    924938  50.4334   30.5166
246             Odesa               Ukraine    929398  46.4900   30.7100
247            Athens                Greece    946738  37.9833   23.7333
248            Athens                Greece    946738  33.9508  -83.3689
249            Athens                Greece    946738  39.3269  -82.0987
250            Athens                Greece    946738  34.7847  -86.9510
251            Athens                Greece    946738  35.4573  -84.6045
252            Athens                Greece    946738  32.2041  -95.8321
253            Bekasi             Indonesia   1030077  -6.2173  106.9723
254         Pekanbaru             Indonesia   1040779   0.5650  101.4250
255          Surabaya             Indonesia   1044316  -7.2492  112.7508
256          Makassar             Indonesia   1046138  -5.1400  119.4320
257           Bandung             Indonesia   1047180  -6.9500  107.5700
258           Jakarta             Indonesia   1047378  -6.1744  106.8294
259             Medan             Indonesia   1047908   3.5800   98.6500
260         Palembang             Indonesia   1048059  -2.9800  104.7500
261          Semarang             Indonesia   1048324  -6.9666  110.4200
262         Singapore             Singapore   1062617   1.2930  103.8558
263         Singapore             Singapore  23424948   1.2930  103.8558
264             Perth             Australia   1098081 -31.9550  115.8400
265             Perth             Australia   1098081  56.4003   -3.4700
266          Adelaide             Australia   1099805 -34.9350  138.6000
267          Brisbane             Australia   1100661 -27.4550  153.0351
268          Canberra             Australia   1100968 -35.2830  149.1290
269            Darwin             Australia   1101597 -12.4254  130.8500
270         Melbourne             Australia   1103816 -37.8200  144.9750
271         Melbourne             Australia   1103816  28.1085  -80.6627

In [13]:
with pd.option_context('display.max_rows', None):
    print(trending_woeid)

                     city               country     woeid
0               Worldwide                               1
1                Winnipeg                Canada      2972
2                  Ottawa                Canada      3369
3                  Quebec                Canada      3444
4                Montreal                Canada      3534
5                 Toronto                Canada      4118
6                Edmonton                Canada      8676
7                 Calgary                Canada      8775
8               Vancouver                Canada      9807
9              Birmingham        United Kingdom     12723
10              Blackpool        United Kingdom     12903
11            Bournemouth        United Kingdom     13383
12               Brighton        United Kingdom     13911
13                Bristol        United Kingdom     13963
14                Cardiff        United Kingdom     15127
15               Coventry        United Kingdom     17044
16                  Derby        United Kingdom     18114
17              Edinburgh        United Kingdom     19344
18                Glasgow        United Kingdom     21125
19                   Hull        United Kingdom     25211
20                  Leeds        United Kingdom     26042
21              Leicester        United Kingdom     26062
22              Liverpool        United Kingdom     26734
23             Manchester        United Kingdom     28218
24          Middlesbrough        United Kingdom     28869
25              Newcastle        United Kingdom     30079
26             Nottingham        United Kingdom     30720
27               Plymouth        United Kingdom     32185
28             Portsmouth        United Kingdom     32452
29                Preston        United Kingdom     32566
30              Sheffield        United Kingdom     34503
31         Stoke-on-Trent        United Kingdom     36240
32                Swansea        United Kingdom     36758
33                 London        United Kingdom     44418
34                Belfast        United Kingdom     44544
35          Santo Domingo    Dominican Republic     76456
36         Guatemala City             Guatemala     83123
37               Acapulco                Mexico    110978
38         Aguascalientes                Mexico    111579
39              Chihuahua                Mexico    115958
40            Mexico City                Mexico    116545
41          Ciudad Juarez                Mexico    116556
42         NezahualcÃ³yotl                Mexico    116564
43               CuliacÃ¡n                Mexico    117994
44    Ecatepec de Morelos                Mexico    118466
45            Guadalajara                Mexico    124162
46             Hermosillo                Mexico    124785
47                   LeÃ³n                Mexico    131068
48                 MÃ©rida                Mexico    133327
49               Mexicali                Mexico    133475
50              Monterrey                Mexico    134047
51                Morelia                Mexico    134091
52    Naucalpan de JuÃ¡rez                Mexico    134395
53                 Puebla                Mexico    137612
54              QuerÃ©taro                Mexico    138045
55               Saltillo                Mexico    141272
56        San Luis PotosÃ­                Mexico    144265
57                Tijuana                Mexico    149361
58                 Toluca                Mexico    149769
59                Zapopan                Mexico    151582
60                Mendoza             Argentina    332471
61               Santiago                 Chile    349859
62             Concepcion                 Chile    349860
63             Valparaiso                 Chile    349861
64                 BogotÃ¡              Colombia    368148
65                   Cali              Colombia    368149
66               MedellÃ­n              Colombia    368150
67           Barranquilla              Colombia    368151
68                  Quito               Ecuador    375732
69              Guayaquil               Ecuador    375733
70                Caracas             Venezuela    395269
71              Maracaibo             Venezuela    395270
72                Maracay             Venezuela    395271
73               Valencia             Venezuela    395272
74              Barcelona             Venezuela    395273
75         Ciudad Guayana             Venezuela    395275
76                Turmero             Venezuela    395277
77                   Lima                  Peru    418440
78               BrasÃ­lia                Brazil    455819
79                  BelÃ©m                Brazil    455820
80         Belo Horizonte                Brazil    455821
81               Curitiba                Brazil    455822
82           Porto Alegre                Brazil    455823
83                 Recife                Brazil    455824
84         Rio de Janeiro                Brazil    455825
85               Salvador                Brazil    455826
86              SÃ£o Paulo                Brazil    455827
87               Campinas                Brazil    455828
88              Fortaleza                Brazil    455830
89                GoiÃ¢nia                Brazil    455831
90                 Manaus                Brazil    455833
91               SÃ£o LuÃ­s                Brazil    455834
92              Guarulhos                Brazil    455867
93                CÃ³rdoba             Argentina    466861
94                Rosario             Argentina    466862
95           Barquisimeto             Venezuela    468382
96                MaturÃ­n             Venezuela    468384
97           Buenos Aires             Argentina    468739
98                 GdaÅ„sk                Poland    493417
99                 KrakÃ³w                Poland    502075
100                  Lodz                Poland    505120
101                PoznaÅ„                Poland    514048
102                Warsaw                Poland    523920
103               Wroclaw                Poland    526363
104                Vienna               Austria    551801
105                  Cork               Ireland    560472
106                Dublin               Ireland    560743
107                Galway               Ireland    560912
108              Bordeaux                France    580778
109                 Lille                France    608105
110                  Lyon                France    609125
111             Marseille                France    610264
112           Montpellier                France    612977
113                Nantes                France    613858
114                 Paris                France    615702
115                Rennes                France    619163
116            Strasbourg                France    627791
117              Toulouse                France    628886
118                Berlin               Germany    638242
119                Bremen               Germany    641142
120              Dortmund               Germany    645458
121               Dresden               Germany    645686
122            Dusseldorf               Germany    646099
123                 Essen               Germany    648820
124             Frankfurt               Germany    650272
125               Hamburg               Germany    656958
126               Cologne               Germany    667931
127               Leipzig               Germany    671072
128                Munich               Germany    676757
129             Stuttgart               Germany    698064
130               Bologna                 Italy    711080
131                 Genoa                 Italy    716085
132                 Milan                 Italy    718345
133                Naples                 Italy    719258
134               Palermo                 Italy    719846
135                  Rome                 Italy    721943
136                 Turin                 Italy    725003
137              Den Haag           Netherlands    726874
138             Amsterdam           Netherlands    727232
139             Rotterdam           Netherlands    733075
140               Utrecht           Netherlands    734047
141             Barcelona                 Spain    753692
142                Bilbao                 Spain    754542
143            Las Palmas                 Spain    764814
144                Madrid                 Spain    766273
145                Malaga                 Spain    766356
146                Murcia                 Spain    768026
147                 Palma                 Spain    769293
148               Seville                 Spain    774508
149              Valencia                 Spain    776688
150              Zaragoza                 Spain    779063
151                Geneva           Switzerland    782538
152              Lausanne           Switzerland    783058
153                Zurich           Switzerland    784794
154                 Brest               Belarus    824382
155                Grodno               Belarus    825848
156                 Gomel               Belarus    825978
157                 Minsk               Belarus    834463
158                  Riga                Latvia    854823
159                Bergen                Norway    857105
160                  Oslo                Norway    862592
161            Gothenburg                Sweden    890869
162             Stockholm                Sweden    906057
163        Dnipropetrovsk               Ukraine    918981
164               Donetsk               Ukraine    919163
165               Kharkiv               Ukraine    922137
166                  Kyiv               Ukraine    924938
167                  Lviv               Ukraine    924943
168                 Odesa               Ukraine    929398
169            Zaporozhye               Ukraine    939628
170                Athens                Greece    946738
171          Thessaloniki                Greece    963291
172                Bekasi             Indonesia   1030077
173                 Depok             Indonesia   1032539
174             Pekanbaru             Indonesia   1040779
175              Surabaya             Indonesia   1044316
176              Makassar             Indonesia   1046138
177               Bandung             Indonesia   1047180
178               Jakarta             Indonesia   1047378
179                 Medan             Indonesia   1047908
180             Palembang             Indonesia   1048059
181              Semarang             Indonesia   1048324
182             Tangerang             Indonesia   1048536
183             Singapore             Singapore   1062617
184                 Perth             Australia   1098081
185              Adelaide             Australia   1099805
186              Brisbane             Australia   1100661
187              Canberra             Australia   1100968
188                Darwin             Australia   1101597
189             Melbourne             Australia   1103816
190                Sydney             Australia   1105779
191            Kitakyushu                 Japan   1110809
192               Saitama                 Japan   1116753
193                 Chiba                 Japan   1117034
194               Fukuoka                 Japan   1117099
195             Hamamatsu                 Japan   1117155
196             Hiroshima                 Japan   1117227
197              Kawasaki                 Japan   1117502
198                  Kobe                 Japan   1117545
199              Kumamoto                 Japan   1117605
200                Nagoya                 Japan   1117817
201               Niigata                 Japan   1117881
202            Sagamihara                 Japan   1118072
203               Sapporo                 Japan   1118108
204                Sendai                 Japan   1118129
205             Takamatsu                 Japan   1118285
206                 Tokyo                 Japan   1118370
207              Yokohama                 Japan   1118550
208                Goyang                 Korea   1130853
209                Yongin                 Korea   1132094
210                 Ansan                 Korea   1132444
211               Bucheon                 Korea   1132445
212                 Busan                 Korea   1132447
213              Changwon                 Korea   1132449
214                 Daegu                 Korea   1132466
215               Gwangju                 Korea   1132481
216               Incheon                 Korea   1132496
217              Seongnam                 Korea   1132559
218                 Suwon                 Korea   1132567
219                 Ulsan                 Korea   1132578
220                 Seoul                 Korea   1132599
221                Kajang              Malaysia   1141268
222                  Ipoh              Malaysia   1154679
223           Johor Bahru              Malaysia   1154698
224                 Klang              Malaysia   1154726
225          Kuala Lumpur              Malaysia   1154781
226               Calocan           Philippines   1167715
227                Makati           Philippines   1180689
228                 Pasig           Philippines   1187115
229                Taguig           Philippines   1195098
230              Antipolo           Philippines   1198785
231        Cagayan de Oro           Philippines   1199002
232             Cebu City           Philippines   1199079
233            Davao City           Philippines   1199136
234                Manila           Philippines   1199477
235           Quezon City           Philippines   1199682
236        Zamboanga City           Philippines   1199980
237               Bangkok              Thailand   1225448
238                 Hanoi               Vietnam   1236594
239             Hai Phong               Vietnam   1236690
240               Can Tho               Vietnam   1252351
241               Da Nang               Vietnam   1252376
242      Ho Chi Minh City               Vietnam   1252431
243               Algiers               Algeria   1253079
244                 Accra                 Ghana   1326075
245                Kumasi                 Ghana   1330595
246            Benin City               Nigeria   1387660
247                Ibadan               Nigeria   1393672
248                Kaduna               Nigeria   1396439
249                  Kano               Nigeria   1396803
250                 Lagos               Nigeria   1398823
251         Port Harcourt               Nigeria   1404447
252                  Giza                 Egypt   1521643
253                 Cairo                 Egypt   1521894
254            Alexandria                 Egypt   1522006
255               Mombasa                 Kenya   1528335
256               Nairobi                 Kenya   1528488
257                Durban          South Africa   1580913
258          Johannesburg          South Africa   1582504
259        Port Elizabeth          South Africa   1586614
260              Pretoria          South Africa   1586638
261                Soweto          South Africa   1587677
262             Cape Town          South Africa   1591691
263                Medina          Saudi Arabia   1937801
264                Dammam          Saudi Arabia   1939574
265                Riyadh          Saudi Arabia   1939753
266                Jeddah          Saudi Arabia   1939873
267                 Mecca          Saudi Arabia   1939897
268               Sharjah  United Arab Emirates   1940119
269             Abu Dhabi  United Arab Emirates   1940330
270                 Dubai  United Arab Emirates   1940345
271                 Haifa                Israel   1967449
272              Tel Aviv                Israel   1968212
273             Jerusalem                Israel   1968222
274                 Amman                Jordan   1968902
275           Chelyabinsk                Russia   1997422
276            Khabarovsk                Russia   2018708
277             Krasnodar                Russia   2028717
278           Krasnoyarsk                Russia   2029043
279                Samara                Russia   2077746
280              Voronezh                Russia   2108210
281         Yekaterinburg                Russia   2112237
282               Irkutsk                Russia   2121040
283                 Kazan                Russia   2121267
284                Moscow                Russia   2122265
285       Nizhny Novgorod                Russia   2122471
286           Novosibirsk                Russia   2122541
287                  Omsk                Russia   2122641
288                  Perm                Russia   2122814
289         Rostov-on-Don                Russia   2123177
290      Saint Petersburg                Russia   2123260
291                   Ufa                Russia   2124045
292           Vladivostok                Russia   2124288
293             Volgograd                Russia   2124298
294               Karachi              Pakistan   2211096
295                Lahore              Pakistan   2211177
296                Multan              Pakistan   2211269
297            Rawalpindi              Pakistan   2211387
298            Faisalabad              Pakistan   2211574
299                Muscat                  Oman   2268284
300                Nagpur                 India   2282863
301               Lucknow                 India   2295377
302                Kanpur                 India   2295378
303                 Patna                 India   2295381
304                Ranchi                 India   2295383
305               Kolkata                 India   2295386
306              Srinagar                 India   2295387
307              Amritsar                 India   2295388
308                Jaipur                 India   2295401
309             Ahmedabad                 India   2295402
310                Rajkot                 India   2295404
311                 Surat                 India   2295405
312                Bhopal                 India   2295407
313                Indore                 India   2295408
314                 Thane                 India   2295410
315                Mumbai                 India   2295411
316                  Pune                 India   2295412
317             Hyderabad                 India   2295414
318             Bangalore                 India   2295420
319               Chennai                 India   2295424
320                Mersin                Turkey   2323778
321                 Adana                Turkey   2343678
322                Ankara                Turkey   2343732
323               Antalya                Turkey   2343733
324                 Bursa                Turkey   2343843
325            DiyarbakÄ±r                Turkey   2343932
326             EskiÅŸehir                Turkey   2343980
327             Gaziantep                Turkey   2343999
328              Istanbul                Turkey   2344116
329                 Izmir                Turkey   2344117
330               Kayseri                Turkey   2344174
331                 Konya                Turkey   2344210
332               Okinawa                 Japan   2345896
333               Daejeon                 Korea   2345975
334              Auckland           New Zealand   2348079
335           Albuquerque         United States   2352824
336               Atlanta         United States   2357024
337                Austin         United States   2357536
338             Baltimore         United States   2358820
339           Baton Rouge         United States   2359991
340            Birmingham         United States   2364559
341                Boston         United States   2367105
342             Charlotte         United States   2378426