In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('trending_cities.csv')

In [4]:
data

     Unnamed: 0        city        country     woeid      lat       lng
0             0    Winnipeg         Canada      2972  49.8830  -97.1660
1             1      Ottawa         Canada      3369  45.4167  -75.7000
2             2     Toronto         Canada      4118  43.7000  -79.4200
3             3    Edmonton         Canada      8676  53.5500 -113.5000
4             4     Calgary         Canada      8775  51.0830 -114.0800
..          ...         ...            ...       ...      ...       ...
382         382  Washington  United States   2514815  40.1739  -80.2465
383         383  Washington  United States   2514815  38.6592  -87.1721
384         384  Washington  United States   2514815  41.2982  -91.6928
385         385       Delhi          India  20070458  28.6700   77.2300
386         386     Okayama          Japan  90036018  34.6720  133.9171

[387 rows x 6 columns]

In [5]:
import requests

In [6]:
url = 'https://api.twitter.com/1.1/trends/place.json'
cities = data['woeid']
len(cities.values)

387

In [7]:
type(str(cities.values[2]))

str

In [8]:
bearer = 'AAAAAAAAAAAAAAAAAAAAAFpzGwEAAAAA5S13Nnr0miSgTbDczld3rhUUbgY%3DhP5gWNZjfBjIx0x9TfTSOFeEhs3wm4KoINLUr9MaoKntDEPyHw'
cities = [str(number) for number in cities.values]
headers = {'Authorization': 'Bearer ' + bearer}
params = {'id':cities}
parameter = {'id':'2480894'}

In [9]:
headers

{'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAAFpzGwEAAAAA5S13Nnr0miSgTbDczld3rhUUbgY%3DhP5gWNZjfBjIx0x9TfTSOFeEhs3wm4KoINLUr9MaoKntDEPyHw'}

In [ ]:
response = []
i=0
for i in cities:
    i =+ 1
    parameter = {'id':i}
    response.append(requests.get(url=url, params=parameter, headers=headers).json())
    if i > 10:
        break